In [2]:
#List
vowel = ['a' , 'e' , 'i']
print(vowel)

['a', 'e', 'i']

In [3]:
a = 'banana'

b = 'cherry'

fruits = ['apple' , 'mango' , a , b]
print(fruits)

['apple', 'mango', 'banana', 'cherry']

In [26]:
family = ['ali' , 10 , 'bisma' , 15 , 'ahmed' , '40' , 'sara' , 36, True, 2.5]
print(family)

['ali', 10, 'bisma', 15, 'ahmed', '40', 'sara', 36, True, 2.5]

In [15]:
child2 = 10
child1 = 15
father = 40
mother = 36
#List of lists
complete_family = [ ['ali',child1, True] , ['bisma',child2] , ['ahmed',father] , ['sara',mother]]
print(complete_family)

[['ali', 15, True], ['bisma', 10], ['ahmed', 40], ['sara', 36]]

In [9]:
#access items from a list
family[3]

15

In [11]:
family[-2]

True

In [12]:
family[1] + family[3]

25

In [13]:
family[0:4]

['ali', 10, 'bisma', 15]

In [16]:
complete_family[0]

['ali', 15, True]

In [17]:
complete_family[0:2]

[['ali', 15, True], ['bisma', 10]]

In [15]:
family_again = ['ali' , 10 , 'bisma' , 15 , 'ahmed' , '40' , 'sara' , 36]

In [16]:
#over_write
family_again[1] = 12

In [17]:
family_again

['ali', 12, 'bisma', 15, 'ahmed', '40', 'sara', 36]

In [18]:
family_again[0] = 'ammar'

In [19]:
family_again

['ammar', 12, 'bisma', 15, 'ahmed', '40', 'sara', 36]

In [20]:
family

['ali', 10, 'bisma', 15, 'ahmed', '40', 'sara', 36]

In [27]:
#concatenation
family = family + ['tanveer' , 60 , 'zehra' , 52]

In [28]:
family

['ali',
 10,
 'bisma',
 15,
 'ahmed',
 '40',
 'sara',
 36,
 True,
 2.5,
 'tanveer',
 60,
 'zehra',
 52]

In [29]:
del(family[0:4])

In [30]:
family

['ahmed', '40', 'sara', 36, True, 2.5, 'tanveer', 60, 'zehra', 52]